<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Банк Ракс</title>
        <meta name="dedication" content="Банкомат банка РАКС"/>
    </head>
    <body>
<h1>Банк Pakc</h1>
    <a href="/registration">Стать клиенторм банка</a>
    <h3>Войти в личный кабинет</h3>
    <form action="/personal-account" method="post">
        Номер карты: <input type="text" name="cartNumber"/><br><br/>
        Пин код: <input type="password" name="password" maxlength="4"/><br><br/>
        <input type="submit" value="Войти">
    </form>
    </body>
    </html>