<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Банк Ракс</title>
        <meta name="dedication" content="Банкомат банка РАКС"/>
    </head>
    <body>
    <h1>Банк Pakc</h1>
    <a href="/">Вернуться на главную</a>
    <h3>Регистрация</h3>
    <form action="/registration" method="post">
        Имя: <input type="text" name="name"/><br><br/>
        Фамилия: <input type="text" name="surname"/><br><br/>
        Отчество: <input type="text" name="patronymic"/><br><br/>
        Номер телефона: <input type="text" name="phoneNumber" maxlength="12"/><br><br/>
        Почта: <input type="email" name="email"/><br><br/>
        <input type="submit" value="Сохранить">
    </form>
    <#if errorMessage??>
        <h2 style="color: red">${errorMessage}</h2>
    </#if>
    </body>
    </html>